.App {
  text-align: center;
}

.navbar-container {
  width: 98vw;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  transition: 1s ease;
  margin: 0;
}

.main-content {
  width: 85%;
  height: 100%;
  transition: 1s ease;
}

.main-content_large {
  width: 90%;
}
