.campsite_card {
  width: 25vw;
  flex: 1 0 33%;
  background-color: rgba(255, 255, 255, 0.735);
  border-radius: 10px;
  border: 3px ridge #d38b5d;
  color: #2c5530;
  padding: 10px;
}

#campsite_link {
  text-decoration: none;
  color: #99621e;
  background-color: #f3ffb6;
  border-style: solid;
  border-image-source: url(https://github.com/foremanlb/camping-companions/blob/master/client/src/assets/images/button_border.png?raw=true);
  border-image-slice: 50;
  border-image-width: 80;
  border-image-outset: 10;
  border-image-outset: stretch;
}
