.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  background-image: #2c5530;
  color: white;
  border-bottom: 4px ridge #d38b5d;
}
#profile_link {
  padding-right: 15px;
}

#home_link {
  padding-left: 15px;
}
