.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  background-image: url("https://github.com/foremanlb/camping-companions/blob/master/client/src/assets/images/header_background.jpeg?raw=true");
  background-position: bottom;
  background-size: contain;
  color: white;
  border-bottom: 4px ridge #d38b5d;
}
#profile_link {
  padding-right: 15px;
}

#home_link {
  padding-left: 15px;
}
