#login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  background-color: rgba(255, 255, 255, 0.625);
  border-radius: 10px;
  border: 3px ridge #739e82;
  color: #2c5530;
  padding: 10px;
}

#login_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup_button {
  text-decoration: none;
  color: #2c5530;
  border-style: solid;
  border-image-source: url(https://github.com/foremanlb/camping-companions/blob/master/client/src/assets/images/button_border.png?raw=true);
  border-image-slice: 40;
  border-image-width: 20;
  border-image-outset: 5 9;
  border-image-outset: stretch;
}

#signup_container {
  display: flex;
  background-image: linear-gradient(to left, #b4a68d, #f8e7c5);
  background-color: #b4a68d;
  height: 40px;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 10px;
}

#login_button_container {
  display: flex;
  background-image: linear-gradient(to left, #b4a68d, #f8e7c5);
  background-color: #b4a68d;
  height: 29px;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 10px;
}

#login_button {
  border-style: solid;
  border-image-source: url(https://github.com/foremanlb/camping-companions/blob/master/client/src/assets/images/button_border.png?raw=true);
  border-image-slice: 40;
  border-image-width: 20;
  border-image-outset: 5 10;
  border-image-outset: stretch;
  outline: none;
  background-color: transparent;
  color: #2c5530;
}
